/* MIXINS ---------------------------------------------------------------- */
@mixin search-input-theme($background, $foreground) {
    background-color: $background;
    border-color: $foreground;
}

@mixin search-button-theme($foreground) {
    background-color: $foreground;
    border-color: $foreground;
}

@mixin search-box-theme($color) {
    color: $color;
}

@mixin space-filler() {
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin form-filler() {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

//noinspection CssOptimizeSimilarProperties
@mixin input-bg-filler() {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    //@include search-input-theme(rgba(18, 18, 18, 1), rgba(48, 48, 48, 1));
    border-radius: 2px 0 0 2px;
}

@mixin input-filler() {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border: none;
    box-shadow: none;
    //@include search-box-theme(rgba(255, 255, 255, 0.88));
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 100%;
    outline: none;
    text-align: inherit;
    width: 100%;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    padding: 7px 8px 6px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* STYLES ---------------------------------------------------------------- */

#button-menu, #button-back {
    margin: 0 16px 2px 0;
}

mat-toolbar-row {

    &#toolbar-search {

        .fill-remaining-space {
            @include space-filler();
            margin: 0 16px 0 0;

            .search-form {
                @include form-filler();

                .search-input {
                    @include input-bg-filler();

                    input {
                        @include input-filler();
                    }
                }
            }
        }
    }

    &#toolbar-main {

        .title {
            outline: none;
            text-decoration: none;
            cursor: pointer;
        }

        .fill-remaining-space {
            @include space-filler();
            margin: 0 38px 0 40px;

            .search-form {
                @include form-filler();
                max-width: 560px;

                .search-input {
                    @include input-bg-filler();
                    border-right: none;

                    input {
                        @include input-filler();
                    }
                }

                //noinspection CssOptimizeSimilarProperties
                button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    box-shadow: none;
                    border-width: 1px;
                    border-style: solid;
                    //@include search-button-theme(rgba(48, 48, 48, 1));
                }
            }
        }
    }
}

@media all and (min-width: 599px) {
    #button-search {
        display: none;
    }
}

@media all and (max-width: 599px) {
    #toolbar-main form.search-form {
        display: none !important;
    }

    #button-search {
        display: inline-block;
    }
}
