<mat-sidenav-container class="container-main">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'">
        <mat-list>
            <mat-nav-list>
                <a mat-list-item *ngFor="let link of navMain"
                   (click)="mobileQuery.matches ? sidenav.toggle() : null"
                   [routerLink]="link.link" routerLinkActive="active">
                    <span matListIcon [ngClass]="link.icon"></span>
                    <span matLine>{{link._id}}</span>
                </a>
            </mat-nav-list>
            <mat-divider></mat-divider>
            <h3 matSubheader class="list-header">Category</h3>
            <mat-nav-list>
                <a mat-list-item *ngFor="let link of navCategory"
                   (click)="mobileQuery.matches ? sidenav.toggle() : null"
                   [routerLink]="['/items', 'category', link._id | slug]" routerLinkActive="active">
                    <span class="flaticon-general{{'' | slug}}" matListIcon></span>
                    <span matLine>{{link._id}}</span>
                </a>
            </mat-nav-list>
            <mat-divider></mat-divider>
            <mat-nav-list>
                <a mat-list-item *ngFor="let link of navMore"
                   (click)="mobileQuery.matches ? sidenav.toggle() : null"
                   [routerLink]="link.link">
                    <span matListIcon [ngClass]="link.icon"></span>
                    <span matLine>{{link._id}}</span>
                </a>
            </mat-nav-list>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
