/* You can add global styles to this file, and also import other style files */

// EXTERNAL -------------------------------------------------------------------------

// RESET ----------------------------------------------------------------------------
html, body {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Nunito', 'Tahoma', serif
}
